<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Profile:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">First Name</label>
        <input class="form-input" type="text" id="first-name" name="first-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">Age:</label>
        <input class="form-input" type="number" id="age" name="age" />
      </div>
      <div class="form-group">
        <label for="project-desc">Bio</label>
        <textarea class="form-input" id="profile-bio" name="profile-age"></textarea>
      </div>
       <div class="form-group">
        <label for="project-desc">Hobbies and Interest</label>
        <textarea class="form-input" id="profile-hobbies" name="profile-hobbies"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/profile.js"></script>
