<h3>Welcome to Cupids Code!</h3>
<p>This is your place to express yourself, and find your other half</p>

<h3>Getting started</h3>
<p>To get started, head to the <a href="/login">signup</a> page!</p>
<p>Already have an account? view your matches <a href="/matches">here</a>, or <a href="/login">login</a></p>
 
 <h3>How it works</h3>
 <ul>
<li><a href="/login">Create</a> your account, and define your personality in your <a href="/profile">profile</a></li>
<li>After you create an account, view your <a href="/matches">matches</a> to find your friends and connect with similar minds!</li>
</ul>
 <h3>Why use Cupids Code?</h3>
