<h3>Welcome to Cupids Code!</h3>
<p>This is your place to express yourself, and find your other half</p>

<h3>Getting started</h3>
<p>To get started, head to the <a href="/login">login</a>page to get started!</p>