<body>
    <div class="container">
        <p>You are currently logged in as {{ username }}</p>
        <form action="/logout" method="POST" class="form">
            <button class="btn btn-primary" type="submit">Logout</button>
        </form>
    </div>
</body>
