/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, main, footer {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h1, h2, h3, p {
    margin: 0;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between; /* Creates space between nav and user profile */
    align-items: center; /* Vertically centers children of the header */
    background-color: pink;
    color: #fff;
    padding: 20px 0;
}

#site-logo {
    max-width: 150px;
    padding: 0px;
    margin-right: 20px; 
}

nav {
    display: flex;
    align-items: center; /* Aligns logo vertically centered */
}

.user-profile {
    display: flex;
    align-items: center; /* Aligns child elements vertically centered */
    gap: 10px; /* Space between the profile picture and username, age, location details */
}

.user-profile img {
    width: 50px;
    border-radius: 50%;
}


