<h3> Welcome to Cupids Code!</h3>
<p>Your place to <i>express</i> yourself!</p>

<h3> Getting started</h3>
<p>To get started, head to the <a href="/login">signup</a> page!</p>
<p>Already have an account? view your matches <a href="/matches">here</a>, or <a href="/login">login</a></p>
 
 <h3> How it works</h3>
 <ul>
<li><a href="/login">Create</a> your account, and define your personality in your <a href="/profile">profile</a></li>
<li>After you create an account, view your <a href="/matches">matches</a> to find your friends and connect with similar minds!</li>
<li>Have fun!</li>
</ul>

 <h3><i>Don't listen to us, hear what our users have to say </i></h3>
<ul>
<li><h5>"I cannot thank my friends at Cupids Code enough. An amazing community and a well thought out platform! 10/10 would recommend!" ~ Marcus</h5></li>
<li><h5>"If your looking for a place to meet bright souls, Cupids Code wont disappoint!" ~ Eleanor</h5></li>
<li><h5>"There is no platform like it.. Have had amazing conversations and have met lifelong friends @Cupids Code!" ~ Tracy</h5></li>
</ul>